@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-primary: #5f6FFF; 
}

::-webkit-scrollbar{
  @apply hidden;
}

*{
  font-family: 'Outfit', sans-serif;
}

@media(max-width:740px){
  .active p{
    @apply text-white bg-primary;
  }
}
@keyframes slideUp {
  from { transform: translateY(20px); opacity: 0; }
  to   { transform: translateY(0);    opacity: 1; }
}

@keyframes progress {
  0%   { width: 0%;   margin-left: 0%; }
  50%  { width: 60%;  margin-left: 20%; }
  100% { width: 0%;   margin-left: 100%; }
}
